<ngx-avatars facebookId="1508319875"></ngx-avatars>
<ngx-avatars googleId="1508319875"></ngx-avatars>
<ngx-avatars twitterId="1508319875"></ngx-avatars>
<ngx-avatars instagramId="dccomics" size="70"></ngx-avatars>
<ngx-avatars skypeId="1508319875"></ngx-avatars>
<ngx-avatars gravatarId="adde9b2b981a8083cf084c63ad86f753"></ngx-avatars>
<ngx-avatars gravatarId="user@gmail.com"></ngx-avatars>
<ngx-avatars src="assets/avatar.jpg"></ngx-avatars>
<ngx-avatars name="John Doe"></ngx-avatars>
<ngx-avatars value="75%"></ngx-avatars>

<ngx-avatars
  facebookId="userFacebookID"
  skypeId="userSkypeID"
  googleId="google"
  name="Haithem Mosbahi"
  src="assets/avatar.jpg"
  value="28%"
  twitterId="twitter"
  gravatarId="adde9b2b981a8083cf084c63ad86f753"
  size="100"
  [round]="true"
>
</ngx-avatars>
